<div class="educacion">
    <div class="row">
        <h1>Educacion</h1>
        <div class="col-lg-11">
            <ul>
                <li>
                <h2>Secundario completo</h2> <h4>Instituto Republica Argentina (2017 - 2022) </h4>
                </li>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure commodi, reiciendis libero sint cupiditate magni modi consequatur tempora dicta optio, assumenda est quisquam! Doloremque, sapiente. Quam quasi blanditiis iusto est!
                </p>

                <li>
                <h2>Curso #SeProgramar</h2> <h4>Argentina programa  (2021 - 2022)</h4>
                </li>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure commodi, reiciendis libero sint cupiditate magni modi consequatur tempora dicta optio, assumenda est quisquam! Doloremque, sapiente. Quam quasi blanditiis iusto est!
                </p>

            </ul>
        </div>
    </div>
</div>