<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>

<div class="presentacion">
    <div class="row">
        
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <img src="../../../assets/fotoperfil4.jpg" class="img-fluid" id="fotoperfil">
        </div>
        
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <p id="nombre">Molina Rodrigo</p>
            <p>Full Stack Developer Jr.</p>
        </div>
        
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <span>
                <h1>Acerca de mi</h1>
                <p>Mi nombre completo es Molina Rodrigo Alejandro, soy entusiasta de los desafios y del diseño en general. Me gusta mucho poder plasmar mis ideas en las cosas, por eso me atrae la programación también.</p>
            </span>
        </div>
    </div>
</div>