<div class="skills">  
  <div class="row">
        <h1>Hard & soft skills</h1>
        <div class="col-sm-12 col-md-11 col-lg-11">
            <circle-progress
                [percent]="50"
                [backgroundColor]="'rgba(199, 90, 1, 0.25)'"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/html.png'"
                [showImage]="true"
                [imageHeight]="120"
                [imageWidth]="95"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'rgba(100, 0, 0, 0.1)'"
                [animation]="true"
                [animationDuration]="300"
                
            ></circle-progress>
            
            <circle-progress
            [percent]="35"
            [backgroundColor]="'rgba(199, 90, 1, 0.25)'"
            [radius]="100"
            [showUnits]="false"
            [imageSrc]="'../assets/js.png'"
            [showImage]="true"
            [imageHeight]="120"
            [imageWidth]="100"
            [titleFontSize]="'3em'"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'red'"
            [innerStrokeColor]="'rgba(12, 0, 0, 0.05)'"
            [animation]="true"
            [animationDuration]="300"
            
            ></circle-progress>

            <circle-progress
                [percent]="55"
                [backgroundColor]="'rgba(199, 90, 1, 0.25)'"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/css.png'"
                [showImage]="true"
                [imageHeight]="120"
                [imageWidth]="95"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'rgba(12, 0, 0, 0.05)'"
                [animation]="true"
                [animationDuration]="300"
                
            ></circle-progress>

            <circle-progress
                [percent]="60"
                [backgroundColor]="'rgba(199, 90, 1, 0.25)'"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/word.png'"
                [showImage]="true"
                [imageHeight]="120"
                [imageWidth]="100"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'rgba(12, 0, 0, 0.05)'"
                [animation]="true"
                [animationDuration]="300"
                
            ></circle-progress>

            <circle-progress
                [percent]="45"
                [backgroundColor]="'rgba(199, 90, 1, 0.25)'"
                [radius]="100"
                [showUnits]="false"
                [imageSrc]="'../assets/excel.png'"
                [showImage]="true"
                [imageHeight]="121"
                [imageWidth]="98"
                [titleFontSize]="'3em'"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'red'"
                [innerStrokeColor]="'rgba(12, 0, 0, 0.05)'"
                [animation]="true"
                [animationDuration]="300"
                
            ></circle-progress>
    </div>
</div>  


